$DarkCyan: hsl(185, 75%, 39%);
$VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$DarkGrayishBlue: hsl(227, 10%, 46%);
$DarkGray: hsl(0, 0%, 59%);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}